{% extends 'base.html.twig' %}

{% block title %}Group Bank - NOM COMPTE{% endblock %} {# intégrer intitulé du compte #}

{% block body %}
    <div class="row">
        <article class="container col-12 row mx-auto" id="accountContainer">
            <div class="col-12 mx-auto">
                <div class="card mx-1">
                    <div class="row card-body justify-content-center align-items-center text-center bg-sombre">
                        <div class="col-sm-4 vh-2">
                            <img class="img-fluid" src="{{ asset('img/gg-key.png') }}" alt="Key to Group bank">
                        </div>
                        <div class="row col-sm-8 align-items-center">
                            <div class="col-sm-6">
                                <h1 class="card-title color-gold m-0">{{account.accountType}}</h1> <!-- intégrer intitulé du compte -->
                            </div>
                            <div class="col-sm-6">
                                <p class="card-text m-0 text-white">N° {{account.id}}</p> <!-- intégrer numéro du compte -->
                            </div>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush borderGold">
                        <li class="list-group-item owner">Date de création : {{account.openingdate|date('d/m/Y')}}</li> <!-- intégrer date de création du compte -->
                        <li class="list-group-item owner borderGrey">Solde : {{account.amount}} Simflouz</li> <!-- intégrer solde du compte -->
                        <h3 class="text-center my-3">Opérations</h3>
                            {% if account.operations is not empty %}
                                {% for operation in account.operations %}
                                <li class="list-group-item balance"> ===> Le {{operation.registered|date('d/m/Y')}} à {{operation.registered|date('H:i')}} : {{operation.label}} = {{operation.operationamount}} SF</li> <!-- intégrer date - intitulé - montant du mouvement -->
                                {% endfor %}
                            {% endif %}
                    </ul>
                    <div class="card-body text-center bg-sombre">
                        <a href="{{ path("closeAccountPage", { id: account.id }) }}" class="btn btn-gold mx-1">Cloturer</a> <!-- passer parametre objet Account selectionné pour auto selectionner le compte dans la liste du formulaire ??? -->
                        <a href="{{ path("depositWithdrawalPage") }}" class="btn btn-gold mx-1">Dépot</a> <!-- passer parametre objet Account selectionné pour auto selectionner le compte dans la liste du formulaire ??? -->
                        <a href="{{ path("depositWithdrawalPage") }}" class="btn btn-gold mx-1">Retrait</a> <!-- passer parametre objet Account selectionné pour auto selectionner le compte dans la liste du formulaire ??? -->
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endblock %}
